<div id="main">
  <h2>MConf Assistente Virtual</h2>
  <div id="chat_body">
    <form id="send_message">
      <input type="text" id="message" name="message">
      
      <button>Enviar</button>
    </form>
    <div id="messages">
    </div>
    
  </div>
  <input type="hidden" id="meet" value="0">
  <div id="modal">
    <div>
      <h4>Add a name</h4>
      <form id="set_name">
        <input type="text" id="add_name" name="add_name">
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>


