// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#main {
  height: 100vh;
  background-color: #2e86c1;
  font-family: sans-serif;
  overflow: auto;

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  >div#chat_body {
    height: 90vh;
    background-color: #fafafa;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    overflow: auto;
    position: relative;

    div#messages {
      height: 90%;
      width: 95%;
      color: white;
      margin: 14px auto;
      overflow: auto;
      display: flex;
      flex-direction: column;

      small{
          color: #1f528b;
          margin: 3rem 0;
          font-style: italic;
      }

      p {
        display: inline-block;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        max-width: 70%;
        width: max-content;

        &.received {
          background-color: #70a9db;
          border-bottom-right-radius: 10px;
        }
        
        &.sent {
          border-bottom-left-radius: 10px;
          background-color: #41bfcb;
          align-self: flex-end;
        }

        &.announce {
          align-self: center;
          font-style: italic;
          color: #3f51b5;

          em {
            font-weight: 700;
            color: mediumorchid;
          }
        }
      }
    }

    form#send_message {
      width: 95%;
      margin: 20px auto;

      input {
        height: 30px;
        width: 90%;
        border-radius: 1px;
        border: 1px solid #ccc;
      }

      button {
        height: 35px;
        width: 8.8%;
        border-radius: 1px;
        border: 0;
        background-color: #1f528b;
        color: white;
      }
    }

  }
  div#modal {
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #000000bf;
    width: 100%;
    z-index: 2;
    display: flex;
    display: none;

    >div {
      width: 300px;
      background: white;
      margin: auto;
      padding: 30px;
      text-align: center;
      height: 150px;
      border-radius: 10px;

      input {
        height: 30px;
        border-radius: 1px;
        border: 2px dotted rebeccapurple;
        width: 100%;
        margin-bottom: 10px;
      }

      button {
        height: 35px;
        border-radius: 1px;
        border: 0;
        background-color: #1f528b;
        color: white;
        width: 80px;
      }
    }
  }
}